/* 颜色变量 */

/* 行为相关颜色 */
$color-normal: #535353;
$color-primary: #007aff;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #dd524d;
$color-mixed: linear-gradient(to right, #4bb0ff, #6149f6);
