.chart {
    height: 300px;
    width: 100%;
}
.question-title {
    color: $color-normal;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    height: 40px;
}