.add_button {
    margin:16px 0;
    display: flex;
    justify-content: center;
}
.add_button {
    /deep/ .van-button {
        width: 50%;
    }
}

/deep/ .van-field__button {
    display: flex;
    align-items: center;
}
.submit_button {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    /deep/ .van-button {
        height: 100%
    }
}