.add_button {
    padding:16px 0 66px 0;
    display: flex;
    justify-content: center;
}
.add_button {
    /deep/ .van-button {
        width: 50%;
    }
}
.submit_button {
    position: fixed;
    bottom: 0;
    width: 100%;
    /deep/ .van-button {
        height: 50px
    }
}
/deep/ .van-field__button {
    display: flex;
    align-items: center;
}
/deep/ .van-radio {
    padding: 2px 0
}